.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  width: 100;
}

/* Estilos para .frontal-mixed-top-wave */
.frontal-mixed-top-wave {
  position: relative;
  background-color: #1C1C27;
  /* Otros estilos según sea necesario */
}

.top-wave,.App,.Body{
  background-color: #CCCCCC;
}


/* Estilos para #main-canvas */
#GITD_Logo_webp{
  position: absolute;
  top: 0; /* Ajusta la posición superior según tus necesidades */
  left: 43%; /* Ajusta la posición izquierda según tus necesidades */
  height: 20vh;
  width: 33vh;
  z-index: 1;
  /* Otros estilos según sea necesario */
}


.svg-with-circuit{
  height: 22vh;
  width: 100%;
}

.top-wave {
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 0;
}

.cuadroFirma {
  background-color: #e8e8e8; /* Cambia el color de fondo a tu elección */
}
